<div class="thumb draggable">
	<div class="img-thumbnail">
	{{#if error}}
		<b>{{name}}</b>
		<div><span class="label label-danger">{{i18n "Error"}}</span> {{i18n error}}</div>
	{{else}}
		<span data-delete data-delete-url="{{deleteUrl}}" data-delete-type="{{deleteType}}">&times;</span>
		<img src="{{thumbnailUrl}}" alt="{{name}}" data-file-id="{{id}}">
		<input type="hidden" name="data[Upload][Upload][]" value="{{id}}" id="UploadUpload{{id}}">
	{{/if}}
	</div>
</div>
