<p class="name">
	<span data-delete="{{deleteUrl}}">&times;</span>
	<img src="{{thumbnailUrl}}" class="img-thumbnail">
</p>
<div><span class="label label-danger">{{i18n "Error"}}</span> {{i18n "Filetype not allowed"}}</div>
<input type="hidden" name="data[Upload][Upload][]" value="{{id}}" id="UploadUpload{{id}}"></div>
